*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(5, 30, 49);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MAIN */
.main1001{
    height: 300px;
    width: 300px;
    display: flex;
}


/* CHECKBOX */
#check1001{display: none;}


/* LABELS */
.square1001{
    background-color: darkslategrey;
    height: 100%;
    width: 100%;
    position: relative;
    transition: 0.5s;
}
.square1001 .line1001{
    background-color: rgb(5, 182, 5);
    display: block;
    height: 20px;
    width: 250px;
    position: absolute;
    left: 25px;
    transition: 0.5s;
}
.square1001 .top_line{top: 60px;}
.square1001 .center_line{top: 140px;}
.square1001 .bottom_line{bottom: 60px;}


/* :checked */
#check1001:checked ~ .square1001{
    background-color: black;
}

#check1001:checked ~ .square1001 .top_line{
    background-color: red;
    transform: rotate(45deg);
    top: 140px;
}
#check1001:checked ~ .square1001 .center_line{
    background-color: transparent;
    left: 300px;
    width: 0px;
}
#check1001:checked ~ .square1001 .bottom_line{
    background-color: red;
    transform: rotate(-45deg);
    bottom: 140px;
}